        /* color pallet  https://www.color-hex.com/color-palette/1017619  https://www.color-hex.com/color-palette/1017620*/
        :root {
            --primary-color: #61afef;
            --secondary-color: #e06c75;
            --third-color: #c678dd;
            --forth-color: #98c379;
            --text-color: aliceblue;
            --background-color: #282c34;
            --greyish-color: #abb2bf;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: "TikTok Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-variation-settings: "wdth" 100;
            /* border: 1px solid var(--background-color) */

        }
        /* ---NAV BAR--- */
        header {
            padding: 0 17vw;
            background: var(--background-color);
            
        }

        nav {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background: var(--background-color);
            height: 7vh;
            align-items: center;
            border-bottom: 1px solid var(--greyish-color);
        }

        .nav-links{
            display: flex;
            width: 35vw;
            justify-content: space-between;
           
            margin-top: 8px;
        }

        .nav-link{
            text-decoration: none;
            color: var(--text-color);
        }

        .nav-link:hover{
            color: var(--secondary-color);
        }
        .active{
            color: var(--secondary-color);
        }

        li{
            list-style-type: none;
        }

        .logo {
            color: var(--primary-color)
        }
        /* ---INTRO--- */
        .intro{
            background: var(--background-color);
            height: 89vh;
            display: flex;

            
        }

        .intro-text {
            display: flex;
            height: 50vh;
            flex-direction: column;
            justify-content: space-between;
            width: 50vw;
            
        }

        h1 {
            color: var(--text-color);
            font-size: 40px;
            font-weight: 350;
        }

        #my-name {
            color: var(--primary-color)
        }
        #highlight{
            color: var(--third-color);
        }

        .my-heading {
            color: gray;
            font-weight: 400;
        }

        .my-bio {
            color: var(--text-color);
            font-size: 20px;
            font-weight: 300;
        }
        
        /* ---buttons--- */
        .icon {
            border: none;
            filter: brightness(0) invert(1);
        }
 
        .buttons {
            display: flex;
            gap: 10px;
        }

        .btn-shape {
            height: 40px;
            padding: 0 10px;
            border-radius: 7px;
            font-size: 15px;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .btn-orange {
            /* background: var(--primary-color);  */
            background: var(--third-color);
            color: var(--text-color);
        }

        .btn-hollow {
            background-color: var(--background-color);
            color: aliceblue;
            border: .1px solid rgb(140, 140, 140);
        }

        .btn-orange:hover {
            background-color: var(--secondary-color);
        }


        .btn-hollow:hover {
            color: var(--primary-color);
            background: var(--background-color);
            border-color: var(--text-color);
        }
        a {
            text-decoration: none;
        }


        /* ---image--- */
        .my-img {
            width: 500px;
            height: 600px;
            object-fit: cover;
            object-position: top;
            border-radius: 35%;
            border: 3px solid var(--third-color);
            margin: 40px;
            box-shadow: rgba(255, 255, 255, .1) 0px 12px 12px;
        }


        /* ---About--- */